<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.mobitel.nalaka.piccon"
      version="0.1.0">
    <name>ContactPickerUtil</name>
    <description>phonegap contact picker plugin</description>
    <license>MIT</license>
    <keywords>cordova,contacts,pick</keywords>


   

    <!-- android -->
    <platform name="android">
        

        <source-file src="src/android/ContactPick.java" target-dir="src/com/mobitel/nalaka/piccon" />
        <source-file src="src/android/ContactResult.java" target-dir="src/com/mobitel/nalaka/piccon" />
    </platform>

    <!-- ios -->
    

    <!-- wp7 -->
    

    <!-- wp8 -->
    

</plugin>
